.endpoint_method_GET {
    background: var(--http-method-get-bg);
}
.endpoint_method_POST {
    background: var(--http-method-post-bg);
}
.endpoint_method_PUT {
    background: var(--http-method-put-bg);
}
.endpoint_method_DELETE {
    background: var(--http-method-delete-bg);
}

/* -- Transition classes */

/* <transition name="fade"></transition> */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s ease-in;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
/* <transition name="slide-fade"></transition> */
.slide-fade-enter-active {
  transition: all 0.2s ease-out;
}
.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
/* -- Darkmode swith vars */
[data-theme='dark'],
[data-theme='dark'] :root {
    --main-bg-col: rgb(23, 25, 26);
    --main-text-col: rgb(232, 230, 227);
    --selected-bg-col-1: #1c4404;
    --selected-text-col-1: #6cce57;
    /*  */
    --border-1-1: 1px solid rgb(115, 115, 115);
    --border-1-2: 1px solid rgb(62, 62, 62);
    --border-1-3: 1px solid rgba(255, 255, 255, 0.162);
    --mevi-border: 1px solid rgb(111, 111, 111);
    --mevi-border: 1px solid rgba(129, 129, 129, 0.4);
    /*  */
    --selected-bg-col-2: rgb(30, 32, 33);
    --selected-text-col-2: rgb(36, 36, 36);
    /*  */
    --code-bg: #0e0e0e;
    --code-txt: #e9e9e9;
    --svg-fill: #ffffff;
    /*  */


    /* --http-method-get-bg: rgb(35, 83, 180);
    --http-method-post-bg: rgb(81, 149, 35);
    --http-method-put-bg: rgb(219, 216, 57);
    --http-method-delete-bg: rgb(144, 56, 56); */


    /*  */
    --module-name-btn-txt-col: rgb(180, 174, 164);
}