button {
  transition: var(--transition-1);
}

button:disabled,
button[disabled] {
  opacity: 0.3;
}

.endpoint__method_selected {
  background: #000;
  color: white;
  width: 100%;
  height: 100%;
  /* border-radius: 4px; */
  font-size: var(--fs-9);
  font-weight: 700;
}

.endpoint__expander {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-8);
  /* margin: 5px; */
}

.endpoint__add_btn {
  border-radius: var(--border-rad-5);
  color: var(--selected-text-col-1);
  background: var(--selected-bg-col-1);
}


.create_project_btn {
  padding: 10px 12px;
  font-weight: 700;
  border-radius: var(--border-rad-5);
  font-size: var(--fs-10);
  background: #000;
  color: white;
  box-shadow: var(--shadow-2);
}

.modal__btn {
  width: 100%;
  height: 100%;
  padding: 3px 0px;
  border: var(--border-1-2);
  border-radius: 5px;
  font-size: var(--fs-9);
  font-weight: 600;
  transition: var(--transition-1);
}

.modal__btn:hover {
  border: 1px solid rgba(255, 255, 255, 0);
  color: var(--selected-text-col-1);
  background: var(--selected-bg-col-1);
}

/*  */
.settings__multiple_choices_grid_option {
  border-radius: var(--border-rad-5);
  background: var(--selected-bg-col-2);
  font-size: var(--fs-9);
  opacity: 0.75;
  font-weight: 500;
  padding: 2px 15px;
}

.currently_selected_multiple_choices_option {
  background-color: var(--selected-bg-col-1);
  color: var(--selected-text-col-1);
  opacity: 1;
}

.module__toolbar_option {
  font-size: var(--fs-10);
  border: var(--border-1-2);
  border-radius: var(--border-rad-5);
  padding: 8px 12px;
  opacity: 0.75;
  font-weight: 700;
}

.module__toolbar_option:hover {
  border: 1px solid rgba(255, 255, 255, 0);
  color: var(--selected-text-col-1);
  background: var(--selected-bg-col-1);
  opacity: 1;
}

.module_toolbar_btn:hover {
  border: var(--border-1-1);
}