.docs ul {
    margin-left: 20px;
    list-style: circle;
}

.docs .text-2 {
    font-size: var(--fs-9);
    opacity: 0.9;
}

.docs {
    margin-top: 10px;
    display: grid;
    gap: 24px;
}

.docs h1 {
    font-size: var(--fs-4);
    line-height: 1.02;
    font-weight: 700;
}

.docs h2 {
    font-size: var(--fs-5);
    line-height: 1.02;
    font-weight: 400;
}

.docs h3 {
    font-weight: 700;
}

.docs:first-child ul li {
    margin-bottom: 11px;
}

.docs .doc-subheader-1 {
    font-size: var(--fs-6);
    /* opacity: 0.82; */
}

.docs-sticky {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 14px;
}

.docs-quote {
    background: var(--selected-bg-col-2);
    font-family: Roboto Mono, Menlo, monospace;
    padding: 7px 20px;
    font-size: var(--fs-9);
    border-radius: var(--border-rad-4);
    margin: 10px 0px;
}

.docs-code-block {
    background: var(--selected-bg-col-2);
    font-family: Roboto Mono, Menlo, monospace;
    padding: 7px 20px;
    font-size: var(--fs-9);
    border-radius: var(--border-rad-4);
    margin: 10px 0px;
}

/* code block */
.docs pre {
    border: var(--border-1-2);
    width: auto !important;
    line-height: 1;
    background: rgb(255, 255, 255) !important;
    border-radius: var(--border-rad-3);
    padding: 3px 15px;
    white-space: pre-wrap;
}

.docs pre code {
    padding: 0px;
    background: rgb(255, 255, 255) !important;
    color: rgb(59, 59, 59) !important;
}

.docs-comment {
    opacity: 0.43;
    font-weight: 600;
}