.navigation--section {
  margin-bottom: 24px;
}
.navigation--header {
  /* font-size: var(--fs-8); */
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
}
.navigation--options {
  margin-top: 4px;
  display: flex;
  flex-flow: column;
  overflow-x: auto;
  gap: 4px;
}
.module__name_btn {
  padding: 4px 12px;
  color: rgb(82, 82, 82);
  font-size: 16px;
  /* font-weight: 500; */
  border-radius: 5px;
}
.module__name_btn--selected {
  color: var(--selected-text-col-1);
  background: var(--selected-bg-col-1);
}
.add_new_module_btn {
  border: var(--border-1-2);
  border-radius: var(--border-rad-4);
}
