.navigation--section {
    margin-bottom: 24px;
}
.navigation--header {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 6px;
}
.navigation--options {
    margin-top: 4px;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    overflow: auto;
    max-width: 100%;
    gap: 4px;
}
.navigation--option {
    /* width: auto; */
    /* width: 100%; */
    /* display: flex; */
    overflow: auto;
}

.module__name_btn {
    padding: 4px 12px;
    /* color: rgb(82, 82, 82); */
    font-size: 16px;
    /* font-weight: 500; */
    border-radius: 5px;
    color: var(--module-name-btn-txt-col);
}
.module__name_btn--selected {
    color: var(--selected-text-col-1);
    background: var(--selected-bg-col-1);
}
.add_new_module_btn {
    border: var(--border-1-2);
    border-radius: var(--border-rad-4);
}
