.navigation--section {
  margin-bottom: 24px;
}

.navigation--header {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
}

.navigation--options {
  margin-top: 4px;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  overflow: auto;
  max-width: 100%;
  gap: 4px;
}

.selected-value-1 {
  color: var(--selected-text-col-1) !important;
  background: var(--selected-bg-col-1) !important;
}
