/* --- Toolbar modal */
.modal__overlay {
    background: rgba(0, 0, 0, 0.71);
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: all;
    z-index: 98;
    /* BLUR */
    -webkit-backdrop-filter: blur(13px);
    backdrop-filter: blur(13px);
}
.modal__content {
    background: #fff;
    background: var(--main-bg-col);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 99;
    border-radius: var(--border-rad-2);
}

/* 
  <transition name="fade">
    <div v-if="wants_to_delete_module">
      <div class="modal__overlay" @click="wants_to_delete_module = false"></div>
      <div class="modal__content">
        <div class="py-14">
          <div>qwe</div>
        </div>
      </div>
    </div>
  </transition>
*/
