/* 
.flex-center{
  display:flex;
  align-items:center;
  justify-content:center;
}
*/

.code {
    font-size: 11px;
    background: rgb(246, 246, 246);
    border: 1px solid rgba(0, 0, 0, 0);
}
code {
    font-size: 12px;
    padding: 3px 7px;
}
input {
    padding: 5px 0px;
    font-weight: 400;
    color: var(--main-text-col);
}
.editor {
    grid-template-columns: 142px auto;
    display: grid;
    gap: 24px;
}
.code,
.mevi {
    transition: var(--transition-1);
}

/* mevi = module endpoint value input  */
.mevi {
    border: var(--mevi-border);

    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    border-radius: 3px;
    max-width: var(--mevi-w);
}
.mevi:focus,
.code:focus {
    border: 1px solid rgb(54, 134, 255);
}
.max-w-full {
    max-width: 100%;
}

.endpoint {
    border: var(--border-1-2);
    display: grid;
    grid-template-columns: auto var(--endpoint-btn-width);
    border-radius: 6px;
}
.endpoint__info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--mevi-w), var(--mevi-w)));
    gap: 9px;
    padding: 5px;
    width: 100%;
}
.endpoint_input_grid {
    height: 100%;
}
.endpoint__method_options_grid__content {
    display: flex;
    flex-flow: column;
    gap: 4px;
}
/* very good overlay example --> https://jsfiddle.net/j39c0p4s/1/ */
.url_param_input_grid {
    position: relative;
}
.url_param_input_grid .url_param_input_grid--overlay {
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 3px;
    font-size: var(--fs-9);
    padding: 2px 6px;
    /*  */
    opacity: 0.7;
    background: var(--selected-bg-col-1);
    color: var(--selected-text-col-1);
    margin-top: 2px;
    margin-right: 2px;
}
.tab--header {
    font-size: var(--fs-3);
    margin-bottom: 10px;
}
.project-settings-header {
    font-size: var(--fs-6);
    font-weight: 700;
    margin-bottom: 3px;
    margin-top: 12px;
}
/* textarea */
.import_new_config_input {
    min-height: 300px;
    height: 100%;
    width: 100%;
    padding: 15px !important;
    box-sizing: border-box;
}

