@media screen and (max-width: 1480px) {
    .max-width-1,
    .max-width-2 {
        padding: 0px 40px;
    }
}

@media screen and (max-width: 820px) {
    :root {
        --fs-1: 54px;
        --fs-2: 39px;
        --fs-3: 34px;
        --fs-4: 27px;
        --fs-5: 22px;
        --fs-6: 20px;
        --fs-7: 18px;
        --fs-8: 15px;
        --fs-9: 14px;
    }
    .max-width-1,
    .max-width-2 {
        padding: 0px 17px;
    }

    .editor,
    .docs {
        grid-template-columns: auto !important;
        grid-template-rows: auto auto !important;
        gap: 14px;
    }
    .endpoint__body {
        gap: 24px;
    }
    .endpoint_body_grid {
        grid-template-columns: auto !important;
        grid-template-rows: auto auto auto 27px !important;
    }
    /*  */
    .navigation--options {
        flex-flow: row !important;
    }
    .module__name_btn {
        padding: 6px 15px !important;
    }
    .create-new-module-grid {
        flex-flow: row;
        max-width: 100%;
        margin: 0px;
    }
}

@media screen and (max-width: 670px) {
    :root {
        --fs-1: 34px;
        --fs-2: 29px;
        --fs-3: 24px;
        --fs-4: 28px;
        --fs-5: 20px;
        --fs-6: 20px;
        --fs-7: 18px;
        --fs-8: 15px;
        --fs-9: 14px;
    }
    .header {
        grid-template-columns: 1fr auto;
    }
    .header__right {
        visibility: hidden;
        display: none;
    }
    .header__burger {
        display: block;
    }
    .header__navigation__grid {
        padding: 10px 0px;
        flex-flow: column;
        gap: 13px;
    }

    /*  */
    .settings__project_info {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)) !important;
        gap: 10px;
    }
}
